extends layout
 
block content
  h1= title
  form(id='gradeForm', action="/resource/grades", method="POST")
    div.form-group
      label.costumeAttr(for='grade') grade
      input#grade(type='text', name='grade')
    div.form-group
      label.costumeAttr(for='gradeMarks') grade Marks
      input#gradeMarks(type='number', name='gradeMarks')
    div.form-group
      label.costumeAttr(for='gradeCourse') grade Course
      input#gradeCourse(type='text', name='gradeCourse')
    input(type="submit")
 
    script.
      document.forms['gradeForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error)
        });
      });